    <!DOCTYPE html>  
    <html>  
    <head>  
        <title>FoodDrug</title>  
    </head>  
    <body>  
        <h2>FoodDrug</h2>
        <a href="/insertDrug">Informacje dla leków</a><br><br> 
        <a href="/insertProduct">Informacje dla produktów</a><br><br> 
        <a href="/products_most_interactions">Produkty najczęściej wchodzące w interakcje</a><br><br> 
        <a href="/dataDrugRequest">Wyszukiwarka informacji o lekach</a><br><br>
        <a href="/findInteractionsRequest">Interakcje leków</a><br><br>
        <a href="/myDrugsMenu">Moje leki</a><br><br>
    </body>  
    </html>  
