    <!DOCTYPE html>  
    <html>  
    <head>  
        <title>FoodDrug</title>  
    </head>  
    <body>  
        <h2>FoodDrug</h2>
        <a href="/insertDrug">Informacje dla lekow</a><br><br> 
        <a href="/insertProduct">Informacje dla produktow</a><br><br> 
        <a href="/trzy_najbardziej_niebezpieczne_produkty">Dowiedz sie jakich produktow generalnie unikac</a><br><br> 
        <a href="/dataDrugRequest">Charakterystyka leków</a><br><br>
        <a href="/findInteractionsRequest">Interakcje leków</a><br><br>
        <a href="/myDrugsMenu">Moje leki</a><br><br>
        <a href="/dupa">Moje leki</a><br><br>
    </body>  
    </html>  
