<!doctype html>
<html>
   <body>
   
   <a href = "/">Powrót do głównego menu</a>
   <h2>Lista produktów najczęściej interaktujących z lekami</h2>
      <table border = 1>
         <thead>
            <td><b>Interaktujący produkt</b></td>
            <td><b>Liczba interakcji</b></td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row['Inter_produkty_spozywcze']}}</td>
               <td>{{row['Count(*)']}}</td>
            </tr>
         {% endfor %}
      </table>
      
      
   </body>
</html>
